[submodule "powerlevel10k"]
	path = zsh_plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-autocomplete"]
	path = zsh_plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "linus-rants"]
	path = zsh_plugins/linus-rants
	url = https://github.com/bhayward93/Linus-rants-ZSH.git
