#         _ _   _                            
#    __ _(_) |_(_) __ _ _ __   ___  _ __ ___ 
#   / _` | | __| |/ _` | '_ \ / _ \| '__/ _ \
#  | (_| | | |_| | (_| | | | | (_) | | |  __/
# (_)__, |_|\__|_|\__, |_| |_|\___/|_|  \___|
#   |___/         |___/                      
#

*
!.bashrc
!.gitignore
!.justinShell
!.vimrc
!.Xresources
!.zshrc
!packagelist

.config/
.config/**
!.config/compton/config
!.config/gtk-3.0/gtk.css
!.config/i3/config
!.config/polybar/config
!.config/termite/config
