[submodule "powerlevel10k"]
	path = shell/zsh_plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "linus-rants"]
	path = shell/zsh_plugins/linus-rants
	url = https://github.com/bhayward93/Linus-rants-ZSH.git
[submodule "tpm"]
	path = tmux/tmux_plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "fzf-zsh-plugin"]
	path = shell/zsh_plugins/fzf-zsh-plugin
	url = https://github.com/unixorn/fzf-zsh-plugin.git
[submodule "fzf-tab"]
	path = shell/zsh_plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "shell/git-mv-changes"]
	path = shell/git-mv-changes
	url = git@github.com:justinnuwin/git-mv-changes.git
